.iguru-dashboardCardTop{
  background-color: #fff;
  display:flex;
  cursor: pointer;
  color:#808080;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
}
.iguru-dashboardCardTop :hover{
  background-color:#F2F2F2
}



  .iguru-leftarrowicon{
    flex: 1;
    color: #808080;
    width: 2rem;
    bottom: 0;
    height: 2rem;
    position: relative;
    text-align: center;
    margin-right: 0px;
    justify-content: center;
  }



.notificationIcon button{
      font-size:2.4rem;
      color:#0000008a;
}
.notificationIcon svg{
  width:20px;
  height:20px;
  color:#0000008a;
}
.badgeBox{
      top:-3;
      font-size:1rem;
      color:rgba(0, 0, 0, 0.87);
      right:6;
}

button: {
  'min-width': 0,
  'font-size': '1.6rem'
}
.iconsFooterDefault{
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  box-sizing:border-box;
}
.unAvailable{
  background:#fff !important;
  color:#d1bfbf8a;
  box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  
}
.unAvailable label{
  color:#d1bfbf8a;
  }
  .unAvailable hover{
    background:#fff;
  color:#d1bfbf8a;
  }

  .svgRootSize{
    font-size:4rem !important;
    color:#fff;
}