.icon-button {
  width: 40px;
  height: 40px !important;
  padding: 0;
  min-width: 0;
  font-size: 24px;
  border-radius: 50%;
  border-width: 0;
}
.icon-button-left {
  /* color: hsl(90, 58%, 90%); */
  color: #ffffff;
  background-color: #7dc832;
}
.icon-button-left:hover {
  background: #b1de84;
}
.icon-button-right {
  color: #ffffff;
  background-color: #00afff;
}
.icon-button-centre {
  color: #ffffff;
  background-color: #00afff;
}
.icon-button-default {
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.icon-button svg {
  font-size: 24px;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
