.icon-button {
  width: 40px;
  height: 40px !important;
  padding: 0;
  min-width: 0;
  font-size: 24px;
  border-radius: 50%;
  border-width: 0;
}
.icon-button-primary {
  color: hsl(90, 58%, 90%);
  background-color: #7dc832;
}
.icon-button-primary:hover {
  background: #b1de84;
}
.icon-button-secondary {
  color: #ffffff;
  background-color: #00afff;
}
.icon-button-default {
  color: #ffffff;
  background-color: #ffffff;
}