.displayPaneFive-main-container {
  height: calc(100vh - 180px);
  overflow: overlay;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-header {
  top: 0px;
  z-index: 2;
  position: sticky;
  background-color: white;
}
.font-weight-bold {
  color: #000 !important;
  font-weight: bold;
}
.text-area {
  margin: 0px;
  width: 98%;
  height: 105px !important;
}
.radio-button {
  width: 16px !important;
  height: 16px !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.option-container-likert {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* height: 55px; */
  margin: 0;
}
.flex-center {
  display: flex;
  align-items: center;
}
.option-input {
  margin: 0 !important;
  width: 94% !important;
}
.option-input input {
  font-size: 16px;
}
.icon-button-option {
  display: flex;
  border: 1px solid;
  height: 15px !important;
  width: 15px;
  border-radius: 50%;
  color: gray;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}

/* .hr-setup {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row !important;
} */

.checkbox-lebel .MuiTypography-body1 {
  font-size: 14px;
  width: 100%;
}

/* new css */
.ex_container {
  min-height: 50px;
  padding: 0px 5px;
  align-items: center;
  /* overflow: overlay; */
  color: rgba(0, 0, 0, 0.87);
}
.ig-label {
  font-size: 1.6rem;
  font-weight: bold;
}
.ig-explanation {
  font-size: 1.2rem;
  font-style: italic
}
.ig-itemGeneric{
  font-size: 1.6rem;
}
.label {
  height: 50px;
  font-size: 1.6rem;
  padding: 0px 5px;
}

.likartscale {
  padding: 2.5px;
}

.likart,
.option-container {
  display: flex;
  padding: 0px 5px;
}

.likart .likert_choice-sclae {
  font-size: 1.6rem;
  height: 50px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.likart .item {
  flex: 3;
  /* padding: 0px 2.5px; */
  font-size: 1.6rem;
  height: 50px;
  display: flex;
  align-items: center;
}

.option-container .item {
  flex: 14;
  padding: 0px 2.5px;
  font-size: 1.6rem;
  height: 50px;
  display: flex;
  align-items: center;
}
.likert-choice-font {
  font-size: 1rem;
}
input[type='radio'] {
  margin: 0px !important;
  height: 15px;
  width: 15px;
}
p {
  margin-top: 7px;
  margin-bottom: 6px;
  line-height: 15px;
}
.innerpadding {
  padding: 2.5px;
  min-height: 50px;
}
