.tickOption {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
}
.optionSecondary {
  color: rgba(0, 0, 0, 0.87) !important;
  width: 100% !important;
  cursor: pointer !important;
  height: 30px !important;
  font-size: 1.2rem !important;
  text-align: center !important;
  min-height: inherit !important;
  line-height: 1 !important;
  font-weight: 400 !important;
  text-transform: lowercase !important;
  padding: 2.5px 0px !important;
}
.popup-icon-padd {
  padding: 2.5px 0px;
}
.optionPrimary {
  text-align: center;
  height: 30px;
  padding: 2.5px 0px !important;
  min-height: inherit;
  cursor: pointer !important;
  font-size: 1.6rem !important;
  text-transform: lowercase !important;
  line-height: 1 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  width: 100% !important;
  font-weight: 400 !important;
}
.tick {
  position: absolute;
  font-size: '2rem';
  right: 17;
  color: #0000008a;
  top: 0;
  bottom: 0;
  z-index: 99;
  height: 30px;
  line-height: 30px;
}
.tick button {
  height: 100%;
  color: #0000008a;
}
/* .optionPrimary :hover{
  background: #00000014;
} */
/* .optionPrimary :focus {
  background: #00000014;
} */
/* .optionPrimary :active {
  background: #00000091;
} */
.popupContent {
  padding: 2.5px 0px !important;
  text-align: center;
  max-height: 450px;
  overflow: overlay;
  overflow: auto;
}
.popupHeaderTitle {
  padding: 0 !important;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.6rem;
}
.popupHeaderTitle div {
  border-radius: 0;
}
.popupMainHeader {
  width: 300px;
  height: 40px;
  align-items: center;
  padding: 5px;
  display: flex;
}
.titleSolid-displayPaneLefttertiary {
  display: flex;
  height: 40px;
  background-color: #E5F4D6 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.titleSolid-displayPaneLeftsecondary {
  display: flex;
  height: 40px;
  background-color: #b1de84 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.titleSolid-displayPaneLeftprimary {
  display: flex;
  height: 40px;
  background-color: #7dc832 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}.titleSolid-displayPaneLeft {
  display: flex;
  height: 40px;
  background-color: #7dc832 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.tick{
  position:absolute !important;
  font-size:2rem;
  right:17px;
  color:#0000008a !important;
  top:0;
  bottom:0;
  z-index:99;
  height:30px;
  line-height:30px;
}
.tick button{
  height:100%;
  color:#0000008a;
}
.selectionIcon{
  font-size:1.2rem !important;
  position:relative;
  right:-2px;
  color:#0000008a;
}

.titleSolid-displayPaneRight {
  display: flex;
  height: 40px;
  background-color: #00afff !important;
}
.titleSolid-genericOne {
  display: flex;
  height: 40px;
  background-color: #00afff !important;
  background-image: linear-gradient(to bottom right, #00afff, #7dc832);
}
.previousToLast {
  transform: rotate(-180deg);
  width: 24px;
  height: 24px;
}
.titleSolid-displayPaneCentre {
  display: flex;
  height: 50px;
  background-color: #00afff !important;
}
.titleSolid-genericTwo {
  display: flex;
  height: 50px;
  background-color: rgb(255, 100, 100) !important;
}
.titleLightGreen {
  display: flex;
  height: 50px;
  background-color: #b1de84;
  color: rgba(0, 0, 0, 0.87);
}
.titleBox {
  text-align: left;
  flex: 4;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  max-width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.6 !important;
}
.textSheetTitleBox {
  text-align: left;
  flex: 4;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.6 !important;
}
.backArrow {
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backArrow button {
  width: 48px;
  height: 48px;
}
.popupClose {
  color: #ffffff;
  font-size: 2rem !important;
  cursor: pointer;
}
.fixed10PadDim {
  min-width: 255px;
  box-sizing: border-box;
}
.fixed05PadDim {
  min-width: 300px;
  box-sizing: border-box;
}
.revisePopupContent {
  padding-top: 5px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
  padding-bottom: 5px !important;
}
.fitContent {
  height: fit-content;
}
.popupMinHei {
  min-height: 17px;
}
.popupMinHei0 {
  min-height: 0px !important;
}
.PopupFormBox {
  margin: 5px 5px;
  min-height: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.labelPopupBox {
  min-height: 0px;
  align-items: center;
  flex-direction: row;
}
.labelPopupBox label {
  margin: 0px;
  font-size: 1.2rem !important;
  flex: 3;
  text-align: left;
}
.PopupFormBox label {
  font-size: 1.6rem;
}
.textForLabelPopup {
  line-height: 1.2rem;
}
.textForLabelPopup sup {
  bottom: 1px;
  display: inline-block;
  padding: 0px 3px;
  position: relative;
  border: 1px solid;
  font-weight: 400;
  border-radius: 16px;
  line-height: initial;
  vertical-align: middle;
  margin-left: 3px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.textForLabelPopup sup .activeLabelItem {
  background-color: lightGrey;
}
.popupMargin {
  margin: 5px;
}
.helptextmargin {
  margin-top: 5.5px !important;
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}
.contFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.f4 {
  flex: 4;
  text-align: left;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.87);
}
.f9 {
  flex: 4;
  text-align: left;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.87);
}
.f4notify {
  flex: 4;
  text-align: left;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.87);
  justify-content: flex-start;
}
.f4Disable {
  flex: 4;
  text-align: left;
  font-size: 1.2rem;
  color: #0000008a;
}
.f1 {
  flex: 1;
}
.uploadImageWidthHeight {
  width: 280px !important;
  height: 280px !important;
  border-radius: 50% !important;
}
.headerBadge {
  display: inline-block;
  border-radius: 16px;
  border: 1px solid;
  padding: 0 5px;
  position: relative;
  font-size: 1rem;
}
.infoSymbol {
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkedFontNew span {
  margin-right: -2px !important;
}

@media (max-width: 360px) {
  .popupContent {
    width: calc(100vw - 64px);
  }
}
