.header-container {
  padding: 10px 10px 5px 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #808080;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin: 0 0 10px 0;
}
.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-right {
  display: flex;
  justify-content: right;
  align-items: center;
}
.text-right {
  text-align: right;
}
.iguru-icon-container {
  height: 48px !important;
  width: 48px !important;
}
.logo-container {
  margin-left: 10px;
  height: 49px;
  width: 203px;
}
.logo-img {
  height: 100% !important;
  width: 100% !important;
}
