html {
  font-size: 62.5%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif !important;
  font-size: 1.6rem !important;
  height: 100%;
  overflow: auto;
}
.iguru-componentinnerdiv {
  padding: 0px 5px !important;
  width: 100%;
  display: flex !important;
  height: 50px;
}

.iguru-leftpanel {
  flex: 6;
  margin: 0 1px;
  max-width: 33.33%;
}
.iguru-iconbox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* "& button":{
    height:'50px'
  } */
}

.iguru-iconbox button {
  height: 50px;
}
.iguru-iconbox-dashboardcardtop {
  background-color: #fff;
  display: flex;
  cursor: pointer;
  color: #808080;
  height: 50;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250mscubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.iguru-iconbox-dashboardcardtop :hover {
  background-color: #f2f2f2;
}
.imageNA {
  font-size: 4rem;
  background-color: #e5e5e5 !important;
  color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}
.imageNA svg {
  height: 4rem;
  width: 4rem;
}
.containerPadding {
  padding: 2.5px !important;
}
.dossierContainerTop {
  cursor: pointer;
}
.iguru-cardContentMidPanel {
  display: inline-block;
  flex: 4;
  text-align: left;
  height: 50px;
  font-size: 1.6rem;
  overflow: hidden;
  height: inherit;
}
.midPaneInformation {
  color: rgba(0, 0, 0, 0.87);
  width: inherit;
  border: 0;
  margin: 0;
  height: 17px !important;
  padding: 7px 0 6px;
  display: flex;
  font-size: 1.6rem;
  min-width: 0;
  flex-grow: 1;
  background: none;
  align-items: center;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
/* .aliasmiddle{
    height: 50px !important;
    padding: 0 !important;
    display: flex !important;
} */

.aliasmiddle {
  height: 50px;
  display: flex !important;
}
.midPaneLabel {
  color: rgba(0, 0, 0, 0.54);
  width: calc(100% - 6px);
  padding: 0;
  overflow: hidden;
  font-size: 1.2rem;
  transform: translate(0, 0.5px) scale(1);
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.unitFlex {
  flex: 1;
  display: flex;
  justify-content: center;
}
.assessmenetStatusText {
  text-transform: none;
  font-size: 1rem;
  color: #0000008a;
}
.AssesseeNotifyStatus {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.iconsFooterLabelDefault {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  padding: 6px 0 0 0;
}
.AssesseeNotifyStatusLabel {
  color: rgba(0, 0, 0, 0.54);
  text-transform: lowercase;
}
.dashboardImage {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
