html {
  font-size: 62.5%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif !important;
  font-size: 1.6rem !important;
  height: 100%;
  overflow: auto;
}
.iguru-componentinnerdiv {
  padding: 0px 5px !important;
  width: 100%;
  display: flex !important;
  height: 50px;
}
.iguru-componentinnerdiv-margin {
  /* margin: 0px 5px !important; */
  /* width: 100%; */
  display: flex !important;
  height: 50px;
}
.forgot-and-progress-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}
.relatedCardFixed {
  top: 0;
  z-index: 2;
  position: sticky;
}
.helperTextCore {
  height: 10px;
}
.iguru-leftpanel {
  flex: 6;
  margin: 0 1px;
}
.iguru-iconbox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* "& button":{
    height:'50px'
  } */
}
.iguru-iconboxSVG {
  flex: 1;
  color: #808080;
  width: 2rem !important;
  bottom: 0;
  font-size: 2rem !important;
  height: 2rem !important;
  position: relative;
  text-align: center;
  margin-right: 4px;
  justify-content: center;
}
/* 
.iguru-iconbox button {
  height: 50px;
  width: 50px;
} */
.iguru-iconbox-dashboardcardtop {
  background-color: #fff;
  display: flex;
  cursor: pointer;
  color: #808080;
  height: 50;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250mscubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.iguru-iconbox-dashboardcardtop :hover {
  background-color: #f2f2f2;
}
.imageNA {
  font-size: 4rem;
  background-color: #e5e5e5 !important;
  color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}
.imageNA svg {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.imageNASelected {
  font-size: 4rem;
  background-color: #b2b2b2 !important;
  color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}
.imageNASelected svg {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.containerPadding {
  padding: 2.5px !important;
}
.dossierContainerTop {
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 3px 1px -2px rgb(0 0 0 / 12%) !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.iguru-cardContentMidPanel {
  display: inline-block;
  flex: 4;
  text-align: left;
  height: 50px;
  font-size: 1.6rem;
  overflow: hidden;
  height: inherit;
}
.midPaneInformation {
  color: rgba(0, 0, 0, 0.87);
  width: inherit;
  border: 0;
  margin: 0;
  height: 17px !important;
  padding: 7px 0 6px;
  display: flex;
  font-size: 1.6rem;
  min-width: 0;
  flex-grow: 1;
  background: none;
  align-items: center;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.aliasmiddle {
  height: 49px !important;
  padding: 0 !important;
  display: flex !important;
}

.aliasmiddle {
  height: 50px;
  display: flex !important;
}
.midPaneLabel {
  color: rgba(0, 0, 0, 0.54);
  width: calc(100% - 6px);
  padding: 0;
  overflow: hidden;
  font-size: 1.2rem;
  transform: translate(0, 0.5px) scale(1);
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.unitFlex {
  flex: 1;
  display: flex;
  justify-content: center;
}
.assessmenetStatusText {
  text-transform: none;
  font-size: 1rem;
  color: #0000008a;
}
.AssesseeNotifyStatus {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.iconsFooterLabelDefault {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 1rem !important;
  padding: 6px 0 0 0 !important;
}
.AssesseeNotifyStatusLabel {
  color: rgba(0, 0, 0, 0.54);
  text-transform: lowercase;
}
.dashboardImage {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconBoxFooter1 {
  display: flex;
  flex: 1;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.iconBoxFooterPopup {
  display: flex;
  flex: 1;
  padding: 2.5px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer !important;
}
.iconBoxFooter {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer !important;
}

.unitFlexTop {
  flex-direction: column;
  align-items: center;
  height: 50px;
}
.unitFlexTop button {
  height: 20px !important;
}
.iguru-header-badge1_0 {
  display: inline-block;
  border-radius: 16px;
  border: 1px solid;
  padding: 1px 5px;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  bottom: 1px;
}
.font-weight-bold {
  font-weight: bold !important;
}

.svgRootSize {
  font-size: 4rem !important;
  color: #fff;
}
.iconsFooterDefault {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  box-sizing: border-box;
}
.footerPopupIcons {
  padding: 0px 5px;
  display: block;
  /* width: 300px; */
  flex-wrap: wrap;
}
.form-inputs-cantainer {
  padding: 20px 5px 10px 5px;
}
.form-inputs-signoncantainer {
  padding: 10px 10px 10px 10px;
}
.footerPopupIcons div {
  display: flex;
}
.footerPopupIcons div {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2.5px 0px;
}
.footerPopupIcons label {
  font-size: 1rem;
}
.checkedFontNew {
  font-size: 1.2rem;
  flex: 1;
  text-align: right;
  right: -9px;
  height: 25px;
}
.checkedFontNew span:hover {
  background-color: #fff !important;
  /* font-size:1.2rem;
      color:rgba(0, 0, 0, 0.87);
      height: 25px;
      line-height:30px;
          width: auto;
          position: relative;
          right:2.8px; */
}

.iguru-box-shadow {
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 3px 1px -2px rgb(0 0 0 / 12%) !important;
}

.checkedFontNew svg {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.87);
}
.tagInputs div {
  flex: 4;
}
.tagInputs div:first-child {
  flex: 1;
  margin-left: 3px;
}
.tagInputs span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 7px;
}
.popup-icon-mbPager {
  display: flex;
  flex: 1;
  padding: 2.5px 5px;
  text-align: center;
  justify-content: center;
}
.mbPager {
  display: flex;
  flex: 1;
  padding: 0 5px;
  text-align: center;
  justify-content: center;
}
.helperText {
  font-size: 1.2rem !important;
  color: #f44336 !important;
  width: 100%;
  height: 12px;
}
.paddingCard {
  padding: 2.5px;
}
/* below css for scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  /* height: 2px; */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  opacity: 0;
  /*background-color: #b46868;*/
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  /*background-color: #7c2929;*/
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
  background-color: gray;
} /* if */
