html {
  font-size: 62.5%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem !important;
  height: 100%;
  overflow: auto;
}
.iguru-componentinnerdiv {
  padding: 0px 5px !important;
  width: 100%;
  display: flex !important;
  height: 50px;
}

.iguru-leftpanel {
  flex: 6;
  margin: 0 1px;
  max-width: 33.33%;
}
