.noTextTranform{
  text-transform:none !important;
}
.leftNavButton{
  display:flex;
  height:50px;
  padding:0px;
  font-size:1.6rem;
  font-weight:400;
  color:#808080;
}
.midPaneInformation span{
  width: inherit;
  overflow: hidden;
  white-space: nowrap;
  line-height: normal;
  text-overflow: ellipsis;
}